body {
    background-color: #f1f1f1;
    font-family: "Noto Sans", "Lucida Grande", "Lucida Sans", "Segoe UI", sans-serif;
    font-weight: normal;
    line-height: 1.6;
    color: #505561;
}

body a {
    color: #505561;
}


.app-image {
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black
}

.section {
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-block-end: 20px;
}

.intro {
    top: 50px
}

.section-header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-item {
    min-height: 350px;
}

.carousel-app-image {
    display: block;
    width: 100%;
    height: auto;
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

input[type=text],
select,
textarea {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #505561;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6F9FD8;
}


.body-section {
    margin-bottom: 30px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    padding: 2px 16px;
}

.container .dark {
    background-color: #A5ADBA
}

.dark {
    background-color: #A5ADBA
}

.app-title {
    font-weight: bold;
    font-family: "Nunito", "sans-serif";
}

.app-title a {
    text-decoration: none;
}

.app-title a:hover {
    text-decoration: underline;
}

#contact {
    position: relative;
    text-align: center;
    top: 50px;
}

#footer {
    padding: 10px;
}

#appcards {
    margin: 50px auto 0;
}

#splash {
    height: 100vh;
    background-image: url(bluesplash.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    font-family: 'Nunito', monospace;
}

.splash-light {
    color: #F5F5F5;
}

.splash-dim {
    color: #b4b9c1;
}

#down {
    position: absolute;
    top: 85vh;
    padding: 20px;
    font-size: 2.5em;
}

#down:hover {
    cursor: pointer;
    background-color: #eee;
    opacity: 0.8;
}

#site-header {
    background-color: white;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    text-align: center;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    z-index: 10;
}

#site-header .site-header-toprow {
    padding: 10px 10px 0;
    height: 50px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05);
    position: relative;
    box-sizing: border-box;
}

#site-header .site-header-toprow .site-logo {
    position: absolute;
    left: 15px;
    text-decoration: none;
    color: #333;
    margin-top: -5px;
    float: left;
    height: 26px;
    width: auto;
    font-size: 26px;
    font-weight: 700;
}

#site-logo-obj {
    display: block;
    /*height: auto;*/
    width: 150px;
    padding-top: -5px;
    margin-right: 15px;
}

#site-header .menu-icon {
    display: none;
}

#site-header #site-nav .site-nav-wrapper {
    display: inline-block;
    font-size: .95em;
    margin-top: 4px;
}

#site-header #site-nav a {
    display: inline-block;
    color: #4c4c4c;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: 3px solid rgba(239, 57, 57, 0);
    text-decoration: none;
    margin: 0 10px;
    position: relative;
    float: left;
    white-space: nowrap;
}

#site-header #site-nav a:hover {
    color: #6F9FD8;
}

#site-header #site-nav a.active {
    color: #6F9FD8;
    font-weight: 700;
}

#site-header #site-nav a + a::before {
    content: "|";
    position: absolute;
    left: -12px;
    color: #dbdbdb;
}

#site-header #site-nav:after {
    content: "";
    display: block;
    clear: both;
}

@media (max-width:700px) {
    #site-header .site-header-toprow {
        text-align: right;
    }

    #site-header #site-nav {
        position: relative;
        display: inline-block;
    }

    #site-header #site-nav .site-nav-wrapper {
        font-size: 1em;
        position: absolute;
        right: 0;
        top: 30px;
        min-width: 140px;
        float: none;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.2);
        padding: 6px 0 4px;
        display: none;
        margin: 0;
    }

    #site-header #site-nav a {
        display: block;
        float: none;
        height: auto;
        text-align: left;
    }

    #site-header #site-nav a + a::before {
        content: none;
    }

    #site-header #site-nav .menu-icon {
        line-height: 0;
        padding: 0;
        margin: 8px;
        border-width: 0;
        border-radius: 3px;
        opacity: .5;
    }

    #site-header #site-nav .menu-icon svg {
        padding: 15px 10px 5px 10px;
        height: 19px;
        width: 19px;
        fill: gray;
    }

    #site-header #site-nav:hover .menu-icon,
    #site-header #site-nav:focus .menu-icon,
    #site-header #site-nav:active .menu-icon {
        background-color: white;
    }

    #site-header #site-nav:hover .site-nav-wrapper,
    #site-header #site-nav:focus .site-nav-wrapper,
    #site-header #site-nav:active .site-nav-wrapper {
        display: block;
    }
}

@media (min-width:700px) {
    #site-header #site-nav .menu-icon {
        display: none;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 1);
    margin: 16px 16px 16px 16px;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.cards {
    display: inline-block;
}

.card-spacer {
    margin-left: 15px;
}

